{{extend 'layout.html'}}
<h2>
    Friend Snaps
</h2>

<div class = 'container'>
    <div class = 'col-md-10 col-md-offset-1'>
        {{for posts in posts:}}
            <div class = 'panel panel-primary'>
                <div class = 'panel-heading'>
                    <h4 class = 'panel-title'>{{=name_of(posts.user)}} &bull; {{=posts.date.strftime('%a, %d %b %Y %I:%M')}} at {{=posts.dh_name}}</h4>
                </div>
                <div class = 'panel-body'>
                    {{if posts.rating == None:}}
                        {{if posts.file == None:}}
                            <p style = 'text-indent: 2em;'>{{=posts.comment}}</p>
                        {{else:}}
                            <div class = 'media'>
                                <div class = 'media-left'>
                                    <img width = "200px" src = "{{=URL('download', args = posts.file)}}" />
                                </div>
                                <div class = 'media-body'>
                                    <p style = 'text-indent: 2em;'>{{=posts.comment}}</p>
                                </div>
                            </div>
                        {{pass}}
                    {{else:}}
                        <h4>Score: {{=posts.rating}}/5</h4>
                        {{if posts.file == None:}}
                            <p style = 'text-indent: 2em;'>{{=posts.comment}}</p>
                        {{else:}}
                            <div class = 'media'>
                                <div class = 'media-left'>
                                    <img width = "200px" src = "{{=URL('download', args = posts.file)}}" />
                                </div>
                                <div class = 'media-body'>
                                    <p style = 'text-indent: 2em;'>{{=posts.comment}}</p>
                                </div>
                            </div>
                        {{pass}}
                    {{pass}}
                </div>
            </div>
        {{pass}}
        </div>
    </div>
</div>
