{{extend 'layout.html'}}
<link href="{{=URL('static', 'css/style.css')}}" rel="stylesheet" type="text/css" />
<h1>Pick a Dining Hall</h1>
<table>
    <tr>
        <th><img src="http://cowell.ucsc.edu/images/fountain_quad.jpg?t=0" style="width:160px;height:128px;" align="left" /></th>
        <th><img src="http://crown.ucsc.edu/academics/images/Crown%20Library.jpg" style="width:160px;height:128px;" align="left" /></th>
        <th><img src="http://news.ucsc.edu/2009/08/images/porter_sculpture.jpg" style="width:160px;height:128px;" align="left" /></th>
        <th><img src="https://farm1.staticflickr.com/187/396727677_54031e8ff9.jpg" style="width:160px;height:128px;" align="left" /></th>
        <th><img src="http://en.academic.ru/pictures/enwiki/67/College_9.jpg" style="width:160px;height:128px;" align="left" /></th>
        
    </tr>
    <tr>
        <td><button onclick="document.location='{{=URL('getSnaps', args='cowell')}}';" >Cowell/Stevenson</button></td>
        <td><button onclick="document.location='{{=URL('getSnaps', args='crown')}}';" >Crown/Merill</button></td>
        <td><button onclick="document.location='{{=URL('getSnaps', args='porter')}}';" >Porter/Kresge</button></td>
        <td><button onclick="document.location='{{=URL('getSnaps', args='eight')}}';" >Eight/Oakes</button></td>
        <td><button onclick="document.location='{{=URL('getSnaps', args='nine')}}';" >Nine/Ten</button></td>
    </tr>
</table>


{{=BEAUTIFY(response._vars)}}
